# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific
./dat/**
./lib/*
./bin/*
./obj/*
Makefile
./local/**

# Autoconf files
autom4te.cache/**
aclocal.m4
AUTHORS
ChangeLog
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile.in
missing
NEWS
.deps/**
src/.deps/**
src/.dirstamp
src/Makefile
src/Makefile.in
inc/stamp-h1
inc/config.h
inc/config.h.in
inc/config.h.in~
inc/Makefile
inc/Makefile.in
nint/.deps/**
nint/Makefile
nint/Makefile.in
test/.deps/**
